h1, h2 {
    background: lightskyblue;
    color: #fff;
    width: 8rem;
    padding: 1em;

}

main {
    max-width: 80%;
    margin: auto;
}

.c-grey {
    color: rgb(163, 163, 163);
}

form {
    background: lightblue;
    width: 40%;
    padding: 2em;
}
